---
import { Icon } from "astro-icon/components";

import Layout from "../layouts/Layout.astro";
import config from "../data/config.json";

import { createClient } from "../utils";
import { Image } from "astro:assets";
import pic1 from '../assets/images/campaign/pic1.jpg'
import pic2 from '../assets/images/campaign/pic2.jpeg'
import pic3 from '../assets/images/campaign/pic3.jpg'
import pic4 from '../assets/images/campaign/pic4.jpg'
---

<Layout title={config.businessName} description={config.description}>

  <div class='flex flex-col items-center gap-4'>
    <h1 class="text-2xl md:text-4xl">CAMPAIGN</h1>
    <Image src={pic1} alt="Person wearing a black jacket, zipping it up in a low-light setting, with their face mostly obscured by shadows." class="w-full md:w-1/2 lg:w-1/3" />
    <Image src={pic2} alt="well-lit indoor area " class="w-full md:w-1/2 lg:w-1/3" />
    <Image src={pic3} alt="Person in a dimly lit space wearing a black jacket, with most of their figure in shadow, except for a small beam of light highlighting their torso and hands in pockets" class="w-full md:w-1/2 lg:w-1/3" />
    <Image src={pic4} alt="Person wearing a black jacket with arms crossed, showing a partially unzipped jacket, with indoor plants blurred in the background" class="w-full md:w-1/2 lg:w-1/3" />
  </div>
  
</Layout>
