---
import { Icon } from "astro-icon/components";

import Layout from "../layouts/Layout.astro";
import config from "../data/config.json";

import { createClient } from "../utils";
import getCollectionByIdQuery from "../queries/getCollectionByIdQuery";
import { Image } from "astro:assets";
import { formatter } from "../utils";

import hero1 from "../assets/images/hero1.jpg";
import hero2 from "../assets/images/hero2.jpg";
import hero3 from "../assets/images/hero3.png";
import hero4 from "../assets/images/hero4.png";

const heroImages = [hero1, hero2, hero3, hero4];

// get the collection that is shown on the home page
const { data } = await createClient(
  import.meta.env.SHOPIFY_PUBLIC_ACCESS_TOKEN
).request(getCollectionByIdQuery, {
  variables: {
    id: "gid://shopify/Collection/271423144007",
  },
});

// parse the home page collection data
const homePageCollectionName = data.collection.title;

const homePageProducts = data.collection.products.edges.map((product: any) => {
  return {
    id: product.node.id,
    title: product.node.title,
    handle: product.node.handle,
    images: product.node.images,
    imageUrl: product.node.featuredImage.url,
    maxPrice: product.node.priceRange.maxVariantPrice.amount,
  };
});
---

<Layout title={config.businessName} description={config.description}>
  <div class="flex flex-col gap-16 max-md:gap-8">
    <section
      class="w-full h-[500px] grid grid-cols-4 max-md:h-96 max-md:grid-cols-2"
    >
      {
        heroImages.map((heroImage, index) => (
          <Image
            src={heroImage}
            alt="Hero image"
            loading={"eager"}
            class={`h-full w-full object-cover ${
              index > 1 ? "max-md:hidden" : ""
            }`}
          />
        ))
      }
    </section>
    <section class="flex flex-col gap-16 max-md:gap-8">
      <h1 class="text-center text-4xl max-md:text-2xl">
        {homePageCollectionName}
      </h1>
      <div class="grid grid-cols-2 px-4 gap-4">
        {
          homePageProducts.map((product: any) => (
            <a href={`/shop/${product.handle}`} class="flex flex-col group">
              <div class="relative h-full w-full overflow-hidden  ">
                <Image
                  inferSize
                  src={product.imageUrl}
                  alt={product.title}
                  class="h-full w-full object-contain"
                />
                {product.images.edges.length > 1 && (
                  <Image
                    inferSize
                    src={product.images.edges[1].node.url}
                    alt={product.title}
                    class="top-0 left-0 right-0 bottom-0 object-contain opacity-0 group-hover:opacity-100 absolute z-10 transition duration-300"
                  />
                )}
              </div>

              <h1 class="uppercase text-sm">{product.title}</h1>
              <h2 class="text-sm font-light">
                {formatter.format(product.maxPrice)}
              </h2>
            </a>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
