---
import { Icon } from "astro-icon/components";

import Layout from "../layouts/Layout.astro";
import config from "../data/config.json";

import { createClient } from "../utils";
import getCollectionByIdQuery from "../queries/getCollectionByIdQuery";
import { Image } from "astro:assets";
import { formatPrice } from "../utils";

import heroImg1 from "../assets/images/hero1.jpeg";
import heroImg2 from "../assets/images/hero2.png";

import { DEFAULT_COUNTRY } from "../utils";

import ProductCountryPrice from "../components/ProductCountryPrice";

// get the collection that is shown on the home page
const { data } = await createClient(
  import.meta.env.SHOPIFY_PUBLIC_ACCESS_TOKEN
).request(getCollectionByIdQuery, {
  variables: {
    id: "gid://shopify/Collection/484202283282",
    country: DEFAULT_COUNTRY,
  },
});

// parse the home page collection data
const homePageCollectionName = data.collection.title;

const homePageProducts = data.collection.products.edges.map((product: any) => {
  return {
    id: product.node.id,
    title: product.node.title,
    handle: product.node.handle,
    images: product.node.images,
    imageUrl: product.node.featuredImage.url,
    maxPrice: product.node.priceRange.maxVariantPrice.amount,
    currencyCode: product.node.priceRange.maxVariantPrice.currencyCode,
  };
});
---

<Layout title={config.businessName} description={config.description}>
  <div class="flex flex-col gap-16 max-md:gap-8">
    <section class="relative w-full h-[600px] overflow-hidden max-md:h-96">
      <Image
        src={heroImg1}
        alt="Hero Image 1"
        id="heroImg1"
        class="absolute top-0 left-0 object-cover w-full h-full"
      />
      <Image
        src={heroImg2}
        alt="Hero Image 2"
        id="heroImg2"
        class="z-10 opacity-0 object-bottom absolute top-0 left-0 object-cover w-full h-full"
      />
    </section>
    <section class="flex flex-col gap-16 max-md:gap-8">
      <h1 class="text-center text-4xl max-md:text-2xl">
        {homePageCollectionName}
      </h1>
      <div class="grid grid-cols-2 px-4 gap-4">
        {
          homePageProducts.map((product: any) => (
            <a href={`/shop/${product.handle}`} class="flex flex-col group">
              <div class="relative h-full w-full overflow-hidden ">
                <Image
                  inferSize
                  src={product.imageUrl}
                  alt={product.title}
                  class="h-full w-full object-contain bg-white"
                />
                {product.images.edges.length > 1 && (
                  <Image
                    inferSize
                    src={product.images.edges[1].node.url}
                    alt={product.title}
                    class="w-full h-full top-0 left-0 right-0 bottom-0 object-contain bg-white opacity-0 group-hover:opacity-100 absolute z-10 transition"
                  />
                )}
              </div>

              <h1 class="uppercase text-sm">{product.title}</h1>
              <h2 class="text-sm font-light">
                <ProductCountryPrice
                  token={import.meta.env.SHOPIFY_PUBLIC_ACCESS_TOKEN}
                  handle={product.handle}
                  client:load
                />
              </h2>
            </a>
          ))
        }
      </div>
    </section>
  </div>
</Layout>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline({ repeat: -1 });

  const duration = 4;
  const hold = 2;

  tl.to("#heroImg1", { opacity: 0, duration: duration }, "+=" + hold)
    .to("#heroImg2", { opacity: 1, duration: duration }, "<")
    .to("#heroImg2", { opacity: 0, duration: duration }, "+=" + hold)
    .to("#heroImg1", { opacity: 1, duration: duration }, "<");
</script>
